<h1 class="title is-1">Ajout d'un ingrédient</h1>

<div id="create-item-box" class="box">

    <label for="name">Nom {{this.error.name}}</label>
    <Input 
        type="text" 
        id="name" 
        @value={{this.model.name}} 
        required="true" 
        class="{{if this.error.name "is-danger"}} input"
        {{on 'blur' this.validate}}
    />

    <label for="price">Prix {{this.error.price}}</label>

    <Input 
        type="number" 
        id="price"
        @value={{this.model.price}} 
        required="true" 
        class="{{if this.error.price "is-danger"}} input "
        {{on 'blur' this.validate}}
    />

    <Input {{on "click" this.handleCreateItem}}
        id='create-item-button'
        @type="button"
        @value="Créer"
        @class="button is-primary"
    />
    

</div>  



